* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main, form {
    display: flex;
    flex-flow: column;
    align-items: strecth;
    width: 20em;
}

h1 {
    text-align: center;
}

button, input {
    width: 100%;
    margin: 0.5em;
    padding: 0.5em 1em;
}

button {
    cursor: pointer;
    background: #eee;
    border: 0.1em solid #eee;
}

button:hover {
    background: #ddd;
}