<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <button onclick="window.location.href = '/sso'">SSO</button>
      <form action="POST">
        <label>
          <input type="text" placeholder="Login" />
        </label>
        <label>
          <input type="password" placeholder="Password" />
        </label>
        <button type="submit">Connect</button>
      </form>
    </main>
  </body>
</html>
