<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <button onclick="window.location.href = '/sso'">SSO</button>
      <form action="/action/connect" method="POST">
        <label>
          <input name="login" type="text" placeholder="Login" value="" />
        </label>
        <label>
          <input
            name="password"
            type="password"
            placeholder="Password"
            value=""
          />
        </label>
        <button type="submit">Connect</button>
        <% if (error) { %>
        <p class="error"><%= error %></p>
        <% } %>
      </form>
    </main>
  </body>
</html>
