<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <h1>SSO not possible</h1>
      <button onclick="window.location.href = '/login'">Go to login page</button>
    </main>
  </body>
</html>
