<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome !</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <h1>Welcome <%= user.name %> !</h1>
      <button class="primary" onclick="window.location.href='/'">Home</button>
    </main>
  </body>
</html>
